body {
    background-image: url(papanoel.jpg);
    background-repeat: no-repeat;
    background-position: center
}


.logo
{
    width:400px;
    border-radius:50%;
    display:block;
    margin:auto;
    
}
.mortyimg
{
    float:left;
    width:200px;
    
}
footer
{
    clear:both;
}
table
{
    border:1px solid black;
}

.titre
{
    float:left;
    font-size:1.5em;
    font-family: calibri light;
    text-align: center;

    margin-right:150px;
    margin-left:25%;
    padding:0px;;
}
.deconnexion
{
    float:right ;
    margin-top: 20px;
    margin-right:125px;
}



form p {
    margin-bottom: 20px;
    font-family: calibri-light;
    font-size:1.0em;    
}

form .demande {
    display: inline;
    vertical-align: top;
    padding-top: 2px;
    color: black;
    font-size: 120%;
}

form
{
    font-family: calibri light;
    
    margin-left:25%;
    margin-right:25%;
    color: black; 
}

form.input
{
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    color: rgba(255, 255, 255, .5);
    font-size: 120%;
    width: 200px;
}
.button {
    padding: 5px 10px;
    font-size: 1em;
    color: #FAF33E;
    border-radius: 5px;
    box-shadow: 0 0 4px black;
    background: linear-gradient(rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, .5));

    margin-top: 30px;
    width: 20%;
    border: none;

}

.buttons {
    margin: 0 auto 0 auto;
    width: 60%;
}

#rb {
    float: right;

}
#lb {
    float: left;

}
/*html{
    background-image:url("papanoel.jpg");
    background-repeat:no-repeat;
    
    {*/
    
}